# Hugging Face Access Token
# You must request access to the 'ai4bharat/IndicVoices-ST' dataset on HuggingFace first.
# Once granted, paste your Read Token here (without quotes).
HF_TOKEN=your_huggingface_read_token_here
